# Jupyter notebook
*.ipynb
.ipynb_checkpoints/

# Results / figures / outputs
results/
figs/
*.pkl
*.png
*.jpg
*.jpeg
*.pdf
*.csv
*.h5
*.npy

# Python cache
__pycache__/
*.pyc
*.pyo

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
